# PyCity Schools Analysis

- Performed data analysis using instructor solutions, since code was not working. 
  
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = Path("/Users/anishak98/Desktop/Northwestern/Pandas-Challenge4/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("/Users/anishak98/Desktop/Northwestern/Pandas-Challenge4/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [11]:
# Calculate the total number of unique schools
school_count = len(school_data_complete['school_name'].unique())
school_count

15

In [22]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].count()
student_count

39170

In [14]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [15]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [16]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [17]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [19]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [20]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [29]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
                                "Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                                "% Overall Passing Rate": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [41]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
grouped_school_df = school_data_complete.groupby(["school_name"])

In [42]:
# Calculate the total student count per school
per_school_counts = grouped_school_df["Student ID"].count()

In [45]:
# Calculate the total school budget and per capita spending per school
per_school_budget = grouped_school_df["budget"].first()
per_school_capita = per_school_budget / per_school_counts

In [62]:
# Calculate the average test scores per school
per_school_math = grouped_school_df["math_score"].mean()
per_school_reading = grouped_school_df["reading_score"].mean()

In [57]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])
school_students_passing_math = students_passing_math.size()

In [56]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])
school_students_passing_reading = students_passing_reading.size()

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [58]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [59]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [65]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": [school_types],
      "Total Students": [student_count],
      "Total School Budget": [per_school_budget],
      "Per Student Budget": [per_school_capita],
      "Average Math Score": [per_school_math],
      "Average Reading Score": [per_school_reading],
      "% Passing Math": [per_school_passing_math],
      "% Passing Reading": [per_school_passing_reading],
      "% Overall Passing Rate": [overall_passing_rate]})


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: unsupported format string passed to Series.__format__

## Highest-Performing Schools (by % Overall Passing)

In [66]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Huang High School District ...,39170,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Bottom Performing Schools (By % Overall Passing)

In [67]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = school_summary_df = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Huang High School District ...,39170,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Math Scores by Grade

In [70]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": [ninth_grade_math_scores],
      "10th": [tenth_grader_math_scores],
      "11th": [eleventh_grader_math_scores],
      "12th": [twelfth_grader_math_scores]})

# Minor data wrangling
math_scores_by_grade.index.name = None
math_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Display the DataFrame
math_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

## Reading Score by Grade

In [71]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =  ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": [ninth_grade_reading_scores],
      "10th": [tenth_grader_reading_scores],
      "11th": [eleventh_grader_reading_scores],
      "12th": [twelfth_grader_reading_scores]})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...

## Scores by School Spending

In [79]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [80]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [81]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins,labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
0,school_name Huang High School District ...,39170,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...,NaN

In [27]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [82]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": [spending_math_scores],
    "Average Reading Score": [spending_reading_scores],
    "% Passing Math": [spending_passing_math],
    "% Passing Reading": [spending_passing_reading],
    "%Overall Passing Rate":[overall_passing_spending]})
            

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [84]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [85]:
# Categorize the spending based on the bins
# Reset Index in group by "Spending Ranges (Per Student)"===
per_school_summary = per_school_summary.reset_index()
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] =  pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names)
# Groupby Spending ranges
grouped_size_df = per_school_summary.groupby(["School Size"])   
# Calculate the values for the data table
size_summary_df = grouped_size_df.mean()
per_school_summary

/var/folders/1g/q9gxtv_j0vxc7tlf0j1712sh0000gn/T/ipykernel_91682/3243166633.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_size_df = per_school_summary.groupby(["School Size"])

,level_0,index,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
0,0,0,school_name Huang High School District ...,39170,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...,NaN

In [87]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

/var/folders/1g/q9gxtv_j0vxc7tlf0j1712sh0000gn/T/ipykernel_91682/2584247256.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
/var/folders/1g/q9gxtv_j0vxc7tlf0j1712sh0000gn/T/ipykernel_91682/2584247256.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
/var/folders/1g/q9gxtv_j0vxc7tlf0j1712sh0000gn/T/ipykernel_91682/2584247256.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
/var/folders/1g/q9gxtv_j0vxc7tlf0j1712sh0000gn/T/ipykernel_91682/2584247256.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
/var/folders/1g/q9gxtv_j0vxc7tlf0j1712sh0000gn/T/ipykernel_91682/2584247256.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

KeyError: 'Column not found: % Overall Passing'

In [86]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": [size_math_scores],
    "Average Reading Score": [size_reading_scores],
    "% Passing Math": [size_passing_math],
    "% Passing Reading": [size_passing_reading],
    "%Overall Passing Rate":[size_overall_passing]})

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [89]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: unhashable type: 'Series'

In [34]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": [average_math_score_by_type],
    "Average Reading Score": [average_reading_score_by_type],
    "% Passing Math": [average_percent_passing_math_by_type],
    "% Passing Reading": [average_percent_passing_reading_by_type],
    "%Overall Passing Rate": [average_percent_overall_passing_by_type]})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208